<template>
  <div class="mobilizer">
    <div v-if="!isMobile()">
      <desktop>
        <div class="header">
        <img src="../assets/logo-yellow.png" alt="" class="logo">
        <h2>Podeli sa prijateljima ovu poruku. Utrostruči svoj potpis, pošalji link peticije na još tri adrese! Pokažimo koliko nas je!</h2>
          <textarea name="" id="" cols="30" rows="10" v-model="msg"></textarea>
          <p>Broj karaktera poruke {{charNumber}}</p>
        </div>
        <div class="buttons">
          <h3>Podeli na:</h3>
          <a class="wa" v-bind:href="wadlink" target="_blank" data-action="share/whatsapp/share">Whatsapp</a>
          <a class="viber" v-on:click="Viber" href="#" data-action="share/viber/share"> Viber</a>

        </div>
      </desktop>
    </div>
    <div v-else>
      <mobile>
        <div class="header">
        <img src="../assets/logo-yellow.png" alt="" class="logo">
        <h2>Podeli sa prijateljima ovu poruku. Utrostruči svoj potpis, pošalji link peticije na još tri adrese! Pokažimo koliko nas je!</h2>
          <!-- <h3 class="subheading">Napisi poruku ovde</h3> -->
          <textarea name="" id="" cols="30" rows="10" v-model="msg"></textarea>
          <p>Broj karaktera poruke {{charNumber}}</p>

        </div>
        <div class="buttons">
          <h3>Podeli na:</h3>
          <a class="wa" v-bind:href="walink" data-action="share/whatsapp/share">Whatsapp</a>
          <a class="viber" v-on:click="Viber" href="#" data-action="share/viber/share"> Viber</a>
          <a class="sms" v-bind:href="smslink">SMS</a>
          <!-- <div class="fb-share-button" data-href="https://podeli-promeni.netlify.app/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpodeli-promeni.netlify.app%2F&amp&description=Podeli%20sa%20prijateljima%20ovu%20poruku.%20Utrostruči%20svoj%20potpis,%20pošalji%20link%20peticije%20na%20još%20tri%20adrese!;src=sdkpreparse" class="fb-xfbml-parse-ignore">Podijeli</a></div> -->

        </div>
      </mobile>
    </div>
  </div>

</template>
<script>

export default {
  name: 'mobilizer',
  data() {
    return {
      msg: 'Pokrenuta je peticija Rešenje za zagađenje. Ministarka Irena Vujović je odgovorila, ali još uvek nije zakazala sastanak! Dali smo joj rok do 15.02. Potpiši peticiju i pošalji na još tri adrese kako bi znala koliko nas ima. http://bit.ly/3r8bq6I'
    }
  },
  methods: {
    send: function(){
      console.log(this.msg)
    },
    isMobile() {
      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    },
    Viber(){
      if(confirm("Viber može poslati samo poruke dužine 200 karaktera, ukoliko je vaša poruka duža, Viber će je sam iseći. Da li želite da nastavite?")){
          window.location.href = this.vlink;
      }
    }
  },
  computed:{
    walink: function(){
      return "whatsapp://send?text=" + (encodeURIComponent(this.msg));
    },
    vlink: function(){
      return "viber://forward?text="+ (encodeURIComponent(this.msg));
    },
    fblink: function(){
        return "fb-messenger://share/?link=http://url-you-want-to-share.com&app_id=your-app-id-here"
    },
    smslink: function(){
      return "sms:?&body=" + (encodeURIComponent(this.msg))
    },
    wadlink: function(){
      return "https://web.whatsapp.com/send?text=" + (encodeURIComponent(this.msg));
    },
    charNumber: function(){
      return this.msg.length;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
*{
  font-family: 'Open Sans', sans-serif;
}
body{
  /* background-image: url('../assets/chat-pattern.png'); */
  background: #42B983;
}
img{
  width: 75px;
  display: block;
  justify-content: center;
}
textarea {
  outline: none;
  max-width: 100%;
  /* margin: auto; */
  padding: 10px;
  font-size: 17px;
}
.subheading{
  margin: 20px auto;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobilizer {
  background: white;
  width: 50%;
  border-radius: 10px;
  /* height: 100%; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  /* background-image: url('../assets/chat-pattern.png'); */
}
.header p {
  font-size: 12px;
}
h2{
  font-size: 18px;
  max-width: 50%;
  font-weight: 500;
  text-align: center;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  /* color: #42b983; */
}
@media only screen and (max-width: 600px) {
  .mobilizer {
    width: 90%;
  }
  h2{
    max-width: 100%;
  }
  .buttons{
    max-width: 75%;
  }
}
.buttons{
  /* height: 100%; */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
}
.wa{
  margin: 5px 0;
  color: white;
  width: 100%;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  background: #25D366;
}
.buttons a {
  /* width: 200px;; */
}
.viber{
  margin: 5px 0;
  color: white;
    width: 100%;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  background: #665CAC;;
}
.sms {
  margin: 5px 0;
    width: 100%;
  color: white;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  background: #9b9b9b;
}

</style>
