<template>
  <div class="app">
    <mobilizer msg="Welcome to Your Vue.js App"/>
  </div>  
</template>

<script>
import mobilizer from './components/mobilizer.vue'

export default {
  name: 'App',
  components: {
    mobilizer
  }
}
</script>

<style>
.app{
  display:flex;
  justify-content: center;
  align-content: center;
}
</style>
